body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6a0dad; /* Purple background */
    color: #fff; /* White text */
}

.container {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Shadow effect */
}

h1 {
    text-align: center;
}

textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    resize: none;
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white background */
    color: #fff; /* White text */
}

.voice-options {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white background */
    color: black /* White text */
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff; /* White background */
    color: #6a0dad; /* Purple text */
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #6a0dad; /* Purple background on hover */
    color: #fff; /* White text on hover */
}
